<div class="rlx-modal-header">
    <button class="close-btn close-x" type="button" onclick="Custombox.close()">
        <span>X</span>
    </button>
    <span id="rlx-modal-header-span">Selected {{type}} : {{dispatchNumber}}</span>
</div>
<div class="rlx-modal-body">

  <table class="rlx-modal-table rlx-table-left">
      <tr>
        <th><label>Truck Carrier</label></th>
        <td>{{truckCarrier}}</td>
      </tr>
      <tr>
          <th><label>Vehicle</label></th>
          <td>{{vehicle}}</td>
      </tr>
      <tr>
          <th><label>Customer</label></th>
          <td>{{customer}}</td>
      </tr>
  </table>

  <table class="rlx-modal-table">
      <tr>
          <th><label>Order</label></th>
          <td>{{order}}</td>
      </tr>
      <tr>
          <th><label>Product</label></th>
          <td>{{productName}}</td>
      </tr>
      <tr>
          <th><label>Amount to load</label></th>
          <td>{{formatWithCommaAndWeightType amountToLoad}}</td>
      </tr>
  </table>

</div>

<div class="rlx-modal-footer">
  <input type="button" class="rlx-button rlx-button-modal" value="Cancel" onclick="Custombox.close()" id="rlx-confirm-modal-btn-cancel" style="margin-right: 20px">
  <input data-id="{{id}}" type="button" class="rlx-button rlx-button-modal" value="Confirm" id="rlx-confirm-modal-btn-confirm">
</div>

<div id="rlx-confirm-success" class="rlx-modal-body" style="display: none;">
    <span>Ready to load.<br/> Please press control button in panel</span>
</div>
