<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{category}}
                <small>Articulos {{company}}</small>
            </h1>
        </div>
    </div>


    {{#each articles}}

        <ol class="breadcrumb">
            <li><a>Articulo(s)</a>
            </li>
            <li class="active">{{name}}, Numero de parte: <strong>{{numPart}}</strong></li>
        </ol>

        <div class="row">
          {{#each articles}}
              <div class="col-md-7">
                  <a><img class="img-responsive img-hover" src="{{image}}" alt=""></a>
              </div>
              <div class="col-md-5">
                  <h3>{{description}}</h3>
                  <p>{{description}}</p>
              </div>
          {{/each}}
        </div>
    {{/each}}

</div>


